@font-face {
  font-family: "Work Sans";
  src: url("ressources/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900; /* Spécifie la plage de poids de la police variable */
  font-style: normal;
  font-optical-sizing: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: clamp(20px, 5vw, 30px) 10px;
}

.container {
  background-color: #f1f1f1;
  max-width: 350px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container.shake {
  animation: shake 0.4s;
}

@keyframes shake {
  33% {
    transform: translateX(-5px);
  }
  66% {
    transform: translateX(5px);
  }
}

h2 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

h2 span {
  font-weight: 600;
}

.input-group {
  margin-top: 20px;
}

.input-group label {
  font-weight: 500;
  font-size: 1.1em;
}

.input-group input {
  font-size: 1em;
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group input:focus {
  outline-color: rgba(18, 183, 180, 0.3);
  box-shadow: 0 0 3px rgba(18, 183, 180, 0.3);
}

.error-msg {
  font-size: 0.8em;
  color: crimson;
  display: none;
}

form button {
  font-size: 1.1em;
  width: 100%;
  padding: 10px;
  background-color: #4db050;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 40px auto 20px;
}

form button:hover {
  filter: brightness(0.9);
}

.results {
  text-align: center;
  font-style: oblique;
  font-size: 1.1em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 0s 1s;
}

.results.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 0s;
}

.title-results {
  display: none;
}

.slope-percent,
.slope-degree,
.glide-ratio {
  font-weight: 600;
}

/* Graphique */

.chart-container {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

#slope-chart {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

#version {
  width: 100%;
  margin-top: 20px;
  border: none;
  color: blue;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  background-color: transparent;
}

#version:focus {
  outline: none;
  background-color: transparent;
}
